html{
	height: 100vh;
}

body{
	margin: 0;
	height: 100%;
}
/*body::-webkit-scrollbar {
	display: none;
}*/
body {
	-ms-overflow-style: none;
}

h1{
	font-family: 'Lobster Two';
	font-size: 3.5em;
	display: inline-block;

}

h2{
	font-size: 1em;
	display: inline-block;
	color:white;

}

.header{
	height: 4em;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: black;
	z-index: 999;
	
}


/*
.hamburger{
	height: 100%;
	width: 3.5em;
	top: 12.25%;
	left: .5em;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.bar1, .bar2, .bar3 {
	width: 2.8125em;
	height: .42825em;
	background-color: #eaeaea;
	margin: auto;
	margin-top: .42825em;
	transition: 0.4s;
	border-radius: .285em;
}
.change.bar1{
	-webkit-transform: rotate(-45deg) translate(-.6855em, .7em) ;
	transform: rotate(-45deg) translate(-.6855em, .7em) ;
}
.change.bar2{
	opacity: 0;
}
.change.bar3{
	-webkit-transform: rotate(45deg) translate(-.45em, -.5em) ;
	transform: rotate(45deg) translate(-.45em, -.5em);
}

*/
.socialMedia .icon{
	float: right;
	padding:1em 1em 1em 1em;
	position: absolute;
	top: 0;
	display: block;
}
.socialMedia *{
	transition: .25s;
}
.icon img{
	background-color: white;
	height: 2em;
	width: 2em;
	padding: 0;
}
.instagram{
	right: 0;
}
.instagram .iconBG{
	height: 2em;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.fb{
	right: 4em;
}
.fb .iconBG{
	height: 2em;
	background-color: #4267B2;
}
.icon.instagram:hover img{
	background-color: rgba(255, 255, 255, 0);
}
.icon.fb:hover img{
	background-color: rgba(255, 255, 255, 0);
}
/*
.overlay{
	position: fixed;
	height: 100%;
	top: 4em;
	bottom: 0;
	left: -100%;
	background-color: rgba(0, 0, 0, .5);
	min-width: min-content;
}
.overlay, .overlay *{
	transition: .5s;
	z-index: 998;
}

.overlay.change{
	left: 0;
}
*/
.menu{
	width: 90.5%;
	height: 4em;
	padding:1em 1em 1em 1em;
	display: inline-block;
	box-sizing: border-box;
}
.menu a{
	text-decoration: none;
}
.menuOption{
	height: fit-content;
	width: 100%;
	margin: auto;
	margin-bottom: .2em;
	background-color: #CC3434;
	text-align: center;
	padding: .35em;
	display: table-cell;
}

.opContent{
	width: 14em;
	display: inline-block;
	font-size: 1.25em;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.logo{
	background-attachment: scroll;
	display: block;
	background-image: url("../media/redsLogo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	margin-top: calc(calc(100vh - 25em) / 2);
	margin-bottom: calc(calc(90vh - 25em) / 2);
	width: 25em;
	height: 25em;
}

.parallax{
	/* Full height */
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img1{
	background-image: url('../media/web11 bw.png');
	/*padding-top: calc(calc(100vh - 25em) / 2);*/
	contain: content;
	
}
.img2{
	background-image: url('../media/web5.png');
	padding-top: 35em;
	filter: blur(1px);
  	-webkit-filter: blur(1px);
}
.img3{
	background-image: url('../media/web2.png');
	padding-top: 45em;
	filter: blur(1px);
  	-webkit-filter: blur(1px);
}

/*Article style*/

.article{
	width: 100%;
	min-height: 20em;
	height: fit-content;
}

.articleTitle{
	margin: auto;
	display: block;
	width: max-content; 
}

.articleTitle h1{
	border-bottom: 2px solid;
}

.articleContent{
	font-size: 1.25em;
	width:75%;
	margin: auto;
	text-align: center;
	font-family: 'Roboto';
}
.lastarticleContent{
	font-size: 1.25em;
	width:75%;
	margin: auto;
	padding-bottom: 2em;
	text-align: center;
	font-family: 'Roboto';
}

.mapContent{
	font-size: 1.25em;
	width:75%;
	margin: auto;
	padding-bottom: 4em;
	text-align: justify;
	font-family: 'Roboto';
}

#whatIsRedsAnchor{
	visibility: hidden;
	padding-bottom: 4.5%;
}
#dropOffAnchor{
	visibility: hidden;
	padding-bottom: 2.5%;
}

#donateAnchor{
	visibility: hidden;
	padding-bottom: 4.2%;
}
#whatIsReds.article{
	color: black;
	background-color: white;
}
#whatIsReds .articleTitle h1{
	border-color: #CC3434;
}

#whereWeStop.article{
	color: black;
	background-color: white;
}
#whereWeStop .articleTitle h1{
	border-color: #CC3434;
	color: black;
	text-shadow: 1px 1px #eaeaea, -1px -1px #eaeaea, -1px 1px #eaeaea, 1px -1px #eaeaea;
}
#donateSoon .articleTitle h1{
	border-color: #CC3434;
	color: black;
	text-shadow: 1px 1px #eaeaea, -1px -1px #eaeaea, -1px 1px #eaeaea, 1px -1px #eaeaea;
}

.map{
	position: relative;
	padding-top: 50%;
	width: 100%;
}

.map iframe{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.mapText{
	margin-top: 1em;
	width: 100%;
	height: fit-content;
	margin-bottom: 1em;
	text-align: center;
}

.footer{
	height: 10em;
	width: 100%;
	background: linear-gradient(#555 0%, black 10%);
	padding: 1.5em;
	margin-top: 4em;
}

.paypalButton{
	float: right;
}

.contact{
	margin-left: 34%;
	float: left;
	text-align: center;
	font-family: 'Roboto';
	color: white;
}

.supporters{
	margin-left: 10%;
	float: left;
	text-align: center;
	font-family: 'Roboto';
	color: white;
}