@font-face {
    font-family: 'Rollent';
    src: url('../fonts/Rollent.eot');
    src: url('../fonts/Rollent.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Rollent.woff2') format('woff2'),
        url('../fonts/Rollent.woff') format('woff'),
        url('../fonts/Rollent.ttf') format('truetype'),
        url('../fonts/Rollent.svg#Rollent') format('svg');
    font-weight: normal;
    font-style: normal;
}

